* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  min-width: 410px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', sans-serif;
  color: black;
  background-color: white;
}

  .search-form__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 100px;
  padding: 8px 0px;
  background-color: white;
  border: #cbcbcb 1px solid;
  border-radius: 10px; 
}

.search-form__input {
  flex-grow: 1;
  margin: 0px 10px;
  border: none;
  outline: none;
}

.search-form__button {
  flex-grow: 0;
  margin: 0px 5px;
  color: #cbcbcb;
}

.search-form__button:hover {
  color: #482feb;
}

.message {
  margin-left: 100px;
  color: red;
}
/**********************************************************************/
.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 30px;
}

.main-wrapper__item {
  width: 340px;
  height: 450px;
  margin: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 7px #a6a6a6;
}

.main-wrapper__item-header {
  position: relative;
  display: inline-block;   
}

.main-wrapper__item-header > img {
  border: 2px solid black;
}

.main-wrapper__item-header > a {
  position: absolute;
  top: 30%;
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-wrapper__item-list li {
  margin: 10px 0px;
  list-style-type: none;
}

.main-wrapper__item-list li > span {
  margin-left: 5px;
}

.main-wrapper__item-description {
  max-height: 300px;
  overflow: auto;
  font-style: italic; 
  line-height: 1.2;
}
/**********************************************************************/
nav {
  margin: 20px 0px;
  text-align: center;
  user-select: none;
}

.pagination li {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #cbcbcb;
  list-style-type: none;
}

.pagination li.disable {
  padding: 8px 8px;
  border: none;
}

.pagination li.active {
  color: white;
  background-color: #482feb;
  border: 1px solid #482feb;
}

.pagination li:hover:not(.active):not(.disable) {
  background-color: #cbcbcb;
  cursor: pointer;
}
